<div class="app">

    //if logged in
  <div class="main">
    <div class="navbar">
        <div class="link">catgory</div>
        <div class="link">preview</div>
        <div class="link"> about</div>
        <div class="link">contact</div>
        <div class="link"> search</div>
        <div class = link> my zoon lecture</div>
        <div class = link> my zoon coutomer</div>
        <div class="link"> log in</div>
        <div class="link"> logout</div>
    
        <div class="header"></div> 
        <div class="about"></div>
        <div class ="video"></div>
        <div class="contact"></div>
        <div class="footer"></div>

    <!-- <div class="main-header">
        <div class="switch-case-of-routes">
            <div class="component-and-path"></div>
            <div class="component-and-path"></div>
            <div class="component-and-path"></div>
            <div class="component-and-path"></div>
            <div class="component-and-path"></div>
        </div>
    </div> -->

  </div>




  //if not logged in
  <div class="login_register"></div>


</div>